.topic-modal {
  width: 75%;
  max-width: 400px;
  height: 45%;
  max-height: 350px;
  background-color: #212936;
  padding: 1.5rem 2rem;
  border-radius: 0.8rem;
  display: grid;
  place-items: center;
  
  & h1 {
     font-size: 1.25rem;
     font-weight: 600;
     color: #E5E7EB;
  }
}