.step-marker {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.8rem;
  
  & p {
    color: #A1A1A9;
  }
  
  & .marker-container {
    display: flex;
    gap: 0.5rem;
    
    & .marker {
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 100%;
      background-color: #4D5562;
    }
    
    & .current.marker {
      background-color: #5425AF;
    }
  }
}